#header {
    background-color: var(--secondary-bg);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;
    top: 0;
    padding: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.nav-mobile {
    display: none;
}

.dropdown-menu {
    background-color: rgb(53, 46, 46);
    padding: 10px;
}

header .logo-caixa {
    display: flex;
    align-items: center;
}

header .logo-caixa a {
    text-decoration: none;
}

header .setas {
    transition: 1.5s;
}

header .setas:hover {
    animation: color 1.5s infinite;
    cursor: pointer;
}

@keyframes color {
    0% {filter: grayscale(0);}
    50% {filter: grayscale(100%);}
    100% {filter: grayscale(0);}
}

.secoes {
    margin-right: 20px;
    background-color: var(--primary-bg);
    padding: 0.5rem 1rem;
    color: var(--text-color);
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.secoes:hover {
    background-color: var(--accent-color);
    color: var(--primary-bg);
}

.nav-mobile {
    display: none;
}

@media screen and (max-width: 980px) {
    .nav-desktop {
        display: none;
    }
    .nav-mobile {
        display: block;
    }
}
