header{
    background-color: black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;
    top: 0;
}

.nav-mobile {
    display: none;
}

.dropdown-menu {
    background-color: rgb(53, 46, 46);
}

header .logo {
    margin-left: 70px;
}

header .setas {
    position: absolute;
    margin-top: 1.5%;
    filter: grayscale(100%);
    transition: 1.5s;
}

header .setas:hover {
    animation: color 1.5s infinite;
    cursor: pointer;
}

@keyframes color {
    0% {filter: grayscale(100%);}
    50% {filter: grayscale(0);}
    100% {filter: grayscale(100%);}
}

header .secoes {
    margin-right: 40px;
    background-color: rgb(53, 46, 46);
    padding: 5px;
    color: white;
    border-radius: 15%;
    text-decoration: none;
    font-size: 25px;
}

header .secoes:hover {
    color: gray;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

@media screen and (max-width: 980px) {
    .nav-desktop {
        display: none;
    }
    .nav-mobile {
        display: block;
    }
}
