.subtitulo {
    color: cyan;
    padding: 15px;
    font-size: 25px;
}

.repositorios {
    display: flex;
    justify-content: space-between;
}

.descricao {
    max-width: 450px;
}

.simbolos {
    display: flex;
    margin-top: 320px;
}

footer {
    margin-top: 35px;
}

.topicos {
    margin-bottom: 320px;
}

.topicos-port {
    margin-bottom: 35px;
}

.dropdown-menu {
    width: 210px;
}